<h1> Patients INDEX Page </h1>

<div>
  <form action="/patients/new" method="GET">
    <input type="submit" value="Register a New Patient">
  </form>


  <h1> Search for Existing Patient Surname </h1>
  <input type="text" name="search" placeholder="Enter Your Surname Search..">
<div/>

<table>
  <h2> List of All Patients </h2>
  <caption> Patient Info </caption>
  <thead>
  <tr>
    <th>Unique ID</th>
    <th></th>
    <th>First Name</th>
    <th></th>
    <th>Second Name</th>
    <th></th>
    <th>DOB</th>
    <th></th>
    <th>Age</th>
    <th></th>
    <th>Gender</th>
    <th></th>
    <th>Profession</th>
    <th></th>
  </tr>
</thead>

  <% for patient in @patients %>
  <tr>
    <td><%= patient.id%></td>
    <td>||</td>
    <td><a href="/patients/<%=patient.id %>"><%= patient.first_name%></a></td>
    <td>||</td>
    <td><%= patient.second_name %></td>
    <td>||</td>
    <td><%= patient.dob %></td>
    <td>||</td>
    <td><%= patient.age %></td>
    <td>||</td>
    <td><%= patient.gender %></td>
    <td>||</td>
    <td><%= patient.profession %></td>
  </tr>
  <% end %>
</table>
