<h1> Patient Details </h1>

<!-- <h1> FIRST NAME = <%= @patient.first_name %>  </h1>
<h1> SURNAME = <%= @patient.second_name %> </h1>
<h1> AGE = <%= @patient.age %> </h1> -->
<div>
  <ul>
    <li>First Name: = <%= @patient.first_name %></li>
    <li>Surname: = <%= @patient.second_name %></li>
    <li>Age: = <%= @patient.current_age(@patient.id) %></li>
  </ul>
</div>

<div>

  <form action="/diagnoses/new2/<%= @patient.id%>" method="GET"><input type="submit" value="ASSIGN New Diagnosis">
  </form>

  <form action="/patients/<%= @patient.id%>/edit" method="GET"><input type="submit" value="EDIT Patient">
  </form>

  <form action="/patients/<%= @patient.id %>/delete" method="POST"><input type="submit" value="DELETE Patient">
  </form>

</div>

<div>

  <h2> Patient's Diagnoses: </h2>
  <ul>
    <% @patient.diseases.each do |disease| %>
    <li> Common Name: > <%= disease.common_name %></li>
    <li> Scientif Name: > <%= disease.latin_name %></li>
    <li> Severiy of Disease: > <%= disease.severity_index %></li>
    <li> Active or Resolved? > </li>
    <p></p>
    <% end %>
  </ul>

</div>
