<h1> Patient Details </h1>

<h1> FIRST NAME = <%= @patient.first_name %>  </h1>
<h1> SURNAME = <%= @patient.second_name %> </h1>
<h1> AGE = <%= @patient.age %> </h1>

<ul>
  <li>FIRST NAME: = <%= @patient.first_name %></li>
  <li>SURNAME: = <%= @patient.second_name %></li>
  <li>AGE: = <%= @patient.age %></li>
</ul>

<form action="/patients/<%= @patient.id %>/delete" method="POST"><input type="submit" value="DELETE Patient">
</form>

<form action="/patients/<%= @patient.id%>/edit" method="GET"><input type="submit" value="EDIT Patient">
</form>

<ul>
  <% @patient.diseases.each do |disease| %>
  <li> COMMON NAME: <%= disease.common_name %></li>
    <li> SCIENTIFIC NAME <%= disease.latin_name %></li>
      <li> DISEASE SEVERITY <%= disease.severity_index %></li>
  <% end %>
</ul>
