<h3> COMMON NAME = <%= @disease.common_name %>  </h3>
<h3> LATIN NAME = <%= @disease.latin_name %> </h3>
<h3> CAUSE = <%= @disease.disease_agent_class %> </h3>


<ul>
  <% @disease.patients.each do | patient | %>
  <li> FIRST NAME: <%= patient.first_name %></li>
    <li> SECOND NAME <%= patient.second_name %></li>
      <li> AGE <%= patient.age %></li>
  <% end %>
</ul>
