<p> Edit Diagnosis Form </p>

<!-- <form class="" action="/diagnoses/<%=@diagnosis.id %>" method="post">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" value="<%= @diagnosis.first_name%>>"
  <br>

  <label for="second-name">Surname:</label>
  <input id="second-name" type="text" name="second_name" value="<%= @diagnosis.second_name%>>"
  <br> -->

  <!-- <label for="severity_select">Select a severity level:</label>
  <select id="severity_select" name="severity_score">
    <% for score in @severity_score %>
      <option value="<%=score%>" <%= 'selected' if @diagnosis.severity_score == type %> ><%=score%></option>
      <% end %>
  </select> -->
</br>

</form>
