<h1> Assign a Diagnosis to a <%=@patient.first_name + " " + @patient.second_name%> </h1>

<div>
  <label for="patient-id">Patient ID: </label>
  <input id="patient-id" type="number" name="patient_id" value="<%= @patient.id%>" readonly/>
</div>

<p></p>

<form action="/diagnoses" method="POST">
  <label>
  Select a disease:
    <select name="disease_id">
      <% for disease in @diseases %>
      <option value="<%= disease.id %>"><%= disease.common_name + " " + disease.latin_name %></option>
      <% end %>
    <select>
  </label>

  <p></p>

  <label for="date_of_diagnosis">Date of Diagnosis:</label>
  <input type="date" name="date_of_diagnosis" id="date-of-diagnosis" value="<%= Date.today%>"/>

<p></p>

  <label for="severity_score">Disease severity score</label>
  <select id="severity-score" name="severity_score">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <p></p>

  <input type="checkbox" name="disease_resolved" value="f" id="disease-resolved"><label for="disease_active">Disease Resolved?</label>

  <p></p>

  <input type='submit' value="Assign Diagnosis">

</form>
