<h1> Assign a Diagnosis to a Patient </h1>

<h1> Patient Diagnosis for: <%=@patient.first_name + " " + @patient.second_name%></p>

<form action="/diagnoses" method="POST">

  <label>
  Select a disease:
    <select name="disease_id">
      <% for disease in @diseases %>
      <option value="<%= disease.id %>"><%= disease.common_name + " " + disease.latin_name %></option>
      <% end %>
    <select>
  </label>

  <br>
  <p></p>

  <label for="patient-id">Patient ID - READ-ONLY:</label>
  <input id="patient-id" type="number" name="patient_id" value="<%= @patient.id%>" readonly/>
  <br>

<p></p>

  <label for="date_of_diagnosis">Date of Diagnosis:</label>
  <input type="date" name="date_of_diagnosis" id="date-of-diagnosis" value="<%= Date.today%>"/>

<p></p>
  <br>

  <label for="severity_score">Enter A Disease severity score from 1-5:</label>
  <input type="number" name="severity_score" id="severity-score"/>

  <br>
  <p></p>


  <input type="checkbox" name="disease_resolved" value="f" id="disease-resolved"><label for="disease_active">Check if the disease has been resolved?</label>

  <br>

  <input type='submit' value="Assign Diagnosis">

</form>
